

.Main-content {
  width: 100%;
  position: relative;
  height: auto;
  max-width: 1125px;
  margin: 0 auto;
  padding-top: 74px;
  padding-bottom: 74px ;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 768px) {
      padding-left: 3rem;
      padding-right: 3rem;
  }

  @media (min-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
  }

}

